In [16]:
import pandas as pd

data = pd.read_excel (r'/Users/andrey/pythonprojects/Jupyter/table1.xlsx')
df = pd.DataFrame(data, columns= ['Table 1 ', 'BBBB'])
print (df)

   Table 1   BBBB
0       NaN   NaN
1       NaN   NaN
2       NaN   NaN
3       NaN   NaN

In [14]:
import pandas as pd

data = pd.read_excel (r'/Users/andrey/pythonprojects/Jupyter/table1.xlsx')
print (data)

  Table 1 Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0   AAAAA       BBBB         NaN         NaN         NaN         NaN
1      a1        b11         NaN         NaN         NaN         NaN
2      a2        b22         NaN         NaN         NaN         NaN
3      a3        b22         NaN         NaN         NaN         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN

In [36]:
import openpyxl
from pathlib import Path

xlsx_file = Path('SimData', '/Users/andrey/pythonprojects/Jupyter/table1.xlsx')
wb_obj = openpyxl.load_workbook(xlsx_file)
sheet = wb_obj.active

col_names = []
for column in sheet.iter_cols(1, sheet.max_column):
    col_names.append(column[0].value)

row_names = []    
for row in sheet.iter_rows(1, sheet.max_column):
    row_names.append(row[0].value)
    
print(col_names)
print(row_names)

count = 0
print ("@startuml")
for row in row_names:
    print ("package \"" + row + "\" {")

['Table 1', None, None, None, None, None, None]
['Table 1', 'AAAAA', 'a1', 'a2', 'a3', None, None]
@startuml
package "Table 1" {
package "AAAAA" {
package "a1" {
package "a2" {
package "a3" {

TypeError: can only concatenate str (not "NoneType") to str